.testimonial {
    padding: 5.85rem 0 .11rem;
    overflow-x: hidden;
    color: var(--Black-col);
    background-color: var(--White-col);
}

.testimonial h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0;
}

.testimonial .col-lg-4{
    margin-bottom: 1.85rem;
}

.testimonial .testimonial-desc{
    display: flex;
    padding: 1.49rem 2.49rem .73rem 1.87rem;
    border-radius: 0.3125rem;
    background: var(--White-col);
    /* Fram shadoe */
    box-shadow: 4px 4px 4px 0px rgba(113, 112, 112, 0.15);
}

.testimonial .testimonial-desc .avater{
    margin-right: 1.43rem;
}

.testimonial .testimonial-desc .avater img{
    width: 4.685rem;
}

.testimonial .testimonial-desc h4{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .88rem;
}

.testimonial .testimonial-desc .review-details{
    margin-bottom: .88rem;
    display: flex;
    align-items: center;
}

.testimonial .testimonial-desc .duration{
    font-size: 1.25rem;
    font-weight: 700;
}

.testimonial .testimonial-desc .review-comment p{
    font-size: 1.125rem;
    font-weight: 400;
}

